<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org"
    xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" th:href="@{ite.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.png}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <link rel="stylesheet" th:href="@{/css/slick.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css}">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- <link rel="stylesheet" th:href="@{ss/responsive.css}"> -->
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a th:href="@{ttps://browsehappy.com/}">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- header-start -->
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid ">
                <div class="header_bottom_border">
                    <div class="row align-items-center justify-content-end">

                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">


                                        <li><a th:href="@{/main}">Home</a></li>
                                        <li shiro:hasPermission="user:normal"><a th:href="@{/listings}">Listings</a></li>

                                        <li shiro:hasPermission="user:admin"><a th:href="@{/analytics}">Analytics</a></li>

                                        <li shiro:hasPermission="user:normal"><a th:href="@{/cart}">My Cart</a></li>

                                        <li><a href="" >profile <i class="ti-angle-down"></i></a >
                                            <ul class="submenu">

                                                <li><a th:href="@{/changePwdPage}">change password</a ></li>
                                                <li><a th:href="@{/profile}">update profile</a ></li>
                                            </ul>
                                        </li>

                                        <li shiro:hasPermission="user:normal"><a th:href="@{/feedback.html}">FeedBack</a></li>

                                        <li shiro:hasPermission="user:admin">
                                            <a href="" >manage book <i class="ti-angle-down"></i></a >
                                            <ul class="submenu">

                                                <li><a th:href="@{/add.html}">add book</a ></li>
                                                <li><a th:href="@{/updateBookPage}">update book</a ></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                    <a th:href="@{/logout}">Sign Out</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- header-end -->

<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider single_listing  d-flex align-items-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-10">
                    <div class="slider_text text-center justify-content-center">
                        <h3>Our Book Listings</h3>
                        <div class="search_form">
                            <form th:action="@{/onlySearch}" method="post">
                                <div class="row align-items-center">
                                    <div class="col-xl-5 col-md-4">
                                        <div class="input_field">
                                            <input type="text" placeholder="What are you finding?" name="search">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-4">

                                    </div>
                                    <div class="col-xl-3 col-md-4">
                                        <div class="button_search">
                                            <button class="boxed-btn2" type="submit" >Search</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- explorer_europe start  -->
<div class="explorer_europe list_wrap">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="filter_wrap">
                    <h3 class="exp_title">Advanced Filter</h3>
                    <div class="filter_main_wrap">
                        <div class="filter_inner">
                            <form th:action="@{/onlySearch}">
                                <div class="input_field">
                                    <input type="text" placeholder="What are you finding?" name="search">
                                    <button class="submit_btn" type="submit"> <i class="fa fa-search"></i> </button>
                                </div>
<!--                                <div class="input_field">-->
<!--                                    <select class="wide">-->
<!--                                        <option data-display="Choose Course Code">COMP1511</option>-->
<!--                                        <option value="1">MATH1231</option>-->
<!--                                        <option value="2">COMP3331</option>-->
<!--                                        <option value="3">COMP2521</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                                <div class="input_field">-->
<!--                                    <select class="wide">-->
<!--                                        <option data-display="Choose Faculty">School of Engineer</option>-->
<!--                                        <option value="1">School of Law</option>-->
<!--                                        <option value="2">School of Business</option>-->
<!--                                    </select>-->
<!--                                </div>-->
                                <div class="input_field">
                                    <select class="wide" name="publisher">
<!--                                        <option data-display="Publisher">P1</option>-->
<!--                                        <option value="1">P2</option>-->
                                        <option value="" selected>Choose Publisher</option>
                                        <option th:each="bk:${bks}" th:value="${bk.getPublisher()}"  th:text="${bk.getPublisher()}"  > </option>

                                    </select>
                                </div>
                                <div class="input_field">
                                    <select class="wide" name="author">

                                        <option value="" selected>Choose Author</option>
                                        <option th:each="bk:${bks}" th:value="${bk.getAuthor()}"  th:text="${bk.getAuthor()}"  > </option>

                                    </select>
                                </div>

                                <div class="last_range">

                                    <button class="boxed-btn2" >Submit</button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4" >
                <h3 class="exp_title">12 Book listings are available</h3>
                <div class="col-xl-12 col-lg-12" style="color: red; text-align: left" th:text="${noBook}" th:if="${not #strings.isEmpty(noBook)}"></div>
                <div class="row" th:each="bk:${bks1}" >
                    <div class="col-xl-12 col-lg-12" >
                        <div class="single_explorer">
                            <div class="thumb">
                                <img src="img/Books/1.jpg" alt="">
                            </div>
                            <div class="explorer_bottom d-flex">
                                <div class="icon">
                                    <i class="flaticon-beach"></i>
                                </div>
                                <div class="explorer_info">
                                    <h3><a th:href="@{/singleListing(id=${bk.getBookId()})}"  th:text="${bk.getBookName()}" > </a></h3>
                                    <p th:text="${bk.getAuthor()}"></p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

            <div class="col-xl-4 col-lg-4" >
                <h3 class="exp_title"> &nbsp;</h3>
                <div class="row" th:each="bk:${bks2}" >
                    <div class="col-xl-12 col-lg-12" >
                        <div class="single_explorer">
                            <div class="thumb">
                                <img src="img/Books/4.jpg" alt="">
                            </div>
                            <div class="explorer_bottom d-flex">
                                <div class="icon">
                                    <i class="flaticon-beach"></i>
                                </div>
                                <div class="explorer_info">
                                    <h3><a th:href="@{/singleListing(id=${bk.getBookId()})}"  th:text="${bk.getBookName()}" > </a></h3>
                                    <p th:text="${bk.getAuthor()}"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


            <div class="col-xl-12 col-lg-12" >

                <div class="row">
                    <div class="col-xl-12">
                        <form class="page_nation text-center" th:action="@{/listings}">
                            <ul>
                                <li>
                                    <button  name="fir" th:value="1" th:type="submit">01</button>

                                </li>
                                <li>
                                    <button  name="fir" th:value="2" th:type="submit">02</button>
                                </li>
                                <li>
                                    <button  name="fir" th:value="3" th:type="submit">03</button>
                                </li>
<!--                                <li>-->
<!--                                    <button  name="fir" th:value="xx" th:type="submit"> <i class="ti-angle-right"></i> </button>-->
<!--                                </li>-->
                            </ul>
                        </form>
                    </div>
                </div>
            </div>


    </div>
</div>
<!--/ explorer_europe start  -->


<!-- link that opens popup -->
    <script type="text/javascript" th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/isotope.pkgd.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax-form.js}"></script>
    <script type="text/javascript" th:src="@{/js/waypoints.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.counterup.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/scrollIt.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.scrollUp.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/wow.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/nice-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.slicknav.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins.js}"></script>
    <!-- <script src="js/gijgo.min.js"></scri/pt> -->
    <script type="text/javascript" th:src="@{/js/slick.min.js}"></script>



    <!--contact js-->
    <script type="text/javascript" th:src="@{/js/contact.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/mail-script.js}"></script>

    <script type="text/javascript" th:src="@{/js/main.js}"></script>



<!--contact js-->
<script src="js/contact.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/mail-script.js"></script>


<script src="js/main.js"></script>


<script>
    $( function() {
        $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 500,
            values: [ 75, 300 ],
            slide: function( event, ui ) {
                $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
            }
        });
        $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
            " - $" + $( "#slider-range" ).slider( "values", 1 ) );
    } );
</script>
</div>
</body>

</html>